/* home page */
.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

/* grid */
.game-container {
  /* background-color: black; */
  height: 500px;
  width: 500px;
  position: absolute;
}

.grid-cell {
  width: 22%;
  height: 90%;
  background-color: burlywood;
  margin-right: 10px;
  z-index: 2;
  text-align: center;
  font-size: 3rem;
}

.grid-row {
  display: flex;
  height: 22%;
  width: 100%;
}

.grid-container {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  margin: 10px;
}

/* not found */

.not-found {
  display: flex;
  flex-direction: column;
}

.not-found-title {
  text-align: center;
  font-size: x-large;
  margin: 2rem;
}
