/* home page */
.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}

/* not found */
.not-found {
  display: flex;
  flex-direction: column;
}

.not-found-title {
  text-align: center;
  font-size: x-large;
  margin: 2rem;
}
