.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
  position: sticky;
  top: 0;
}

.header-title {
  font-size: 4rem;
  padding-top: 1rem;
  /* color: #0676cc; */
  color: #503f33;
}
