/* score */
.score {
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: #5ca3da; */
  color: #99765c;
}

/* grid */
.game-container {
  min-height: 70vh;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-display {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.grid-display-item {
  width: 33%;
  display: flex;
  justify-content: center;
}

.reset-button {
  height: 50%;
}

.grid-container {
  background-color: rgb(228, 216, 199);
  height: 500px;
  width: 500px;
  padding: 15px;
  border-radius: 5px;
  outline: none;
  touch-action: none;
}

.grid-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.grid-row:last-child {
  margin: 0px;
}

.grid-cell {
  height: 106.25px;
  width: 106.25px;
  background-color: burlywood;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 5px;
}

.grid-cell:last-child {
  margin: 0px;
}

/* media queries for mobile and when width reaches below 600px */

@media only screen and (max-width: 600px) {
  .grid-container {
    background-color: lightblue;
    height: 300px;
    width: 300px;
    padding: 9px;
  }

  .grid-row {
    margin-bottom: 9px;
  }

  .grid-cell {
    height: 63.75px;
    width: 63.75px;
    margin-right: 9px;
    font-size: 2rem;
  }
}
